{% extends "base.njk" %}

{% set title = "Page not found" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukHeading({
        text: title,
        size: "xl"
      }) }}

      <p class="govuk-body">If you entered a web address, check it is correct.</p>
      <pre class="govuk-!-margin-top-8">Status code: 404</pre>
    </div>
  </div>
{% endblock %}
