{% extends "base.njk" %}

{% set title = "Feature flags" %}
{% set preCode = "features: {
  'feature-name': {
    on: true,
    name: 'Name of feature',
    description: 'Brief description of feature.'
  }
}" %}

{% block content %}
  <form method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        {{ govukNotificationBanner({
          html: "Feature flags updated. <a class=\"govuk-notification-banner__link\" href=\"/\">Return to prototype homepage</a>.",
          type: "success"
        }) if success }}

        <h1 class="govuk-heading-l">{{ title }}</h1>

        {% for key, flag in data.features %}
          {{ govukRadios(decorate({
            classes: "govuk-radios--inline",
            fieldset: {
              legend: {
                text: flag.name,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: flag.description
            },
            items: [{
              text: "On",
              value: true
            }, {
              text: "Off",
              value: false
            }]
          }, ["features", key, "on"])) }}
        {% else %}
          <p>Create a feature flag by adding an object to the <code>features</code> property in the default session data file:</p>
          <pre class="govuk-!-font-size-19">{{ preCode }}</pre>
        {% endfor %}

        {{ govukButton({
          html: "Save changes"
        }) if data.features | length > 0 }}
      </div>
    </div>
  </form>
{% endblock %}
