{% extends defaultLayout or "template.njk" %}

{% set title = "No password set" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">This prototype requires a password, but no password has been set</h1>
      <p class="govuk-body">You need to set a password or the prototype cannot be accessed online.</p>
      <p class="govuk-body">This password does not have to be complicated. It’s just to stop people accidentally finding your prototype online and mistaking it for a real service.</p>
      <p class="govuk-body">To set a password, save a value for <code class="x-govuk-code x-govuk-code--inline">PASSWORD</code> in your environment variables. Ask a developer if you are unsure how to do this.</p>

      <pre class="govuk-!-margin-top-8">Status code: {{ status }}</pre>
    </div>
  </div>
{% endblock %}
