{% extends defaultLayout or "template.njk" %}

{% set title = "This is a prototype used for research" %}

{% block content %}
  <form method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{
            text: error,
            href: "#password"
          }]
        }) if error }}

        <h1 class="govuk-heading-l">{{ title }}</h1>
        <p class="govuk-body">It is not a real service. You should only continue if you have been invited to test this prototype.</p>

        {{ govukInput({
          classes: "govuk-input--width-10",
          label:{
            classes: "govuk-label--s",
            text: "Password"
          },
          decorate: "_password",
          id: "password",
          type: "password",
          errorMessage: {
            text: error
          } if error
        }) }}

        {{ govukInput({
          decorate: "returnUrl",
          type: "hidden"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
