{% from "govuk/components/tag/macro.njk" import govukTag %}
{% set containerElement = ("ul" if params.disableSectionNumbering else "ol") if params.sections else "div" %}
{% macro _taskList(items) %}
  <ul class="app-task-list__items">
    {% for item in items %}
      {%- set itemId = item.text | lower | replace(" ", "-") -%}
      {%- set itemTagClasses = (" " + item.tag.classes if item.tag.classes) + (" govuk-tag--" + item.tag.colour if item.tag.colour) -%}
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          {% if item.href %}
            <a href="{{ item.href }}" aria-describedby="{{ itemId }}">{{ item.text }}</a>
          {% else %}
            <span class="app-task-list__task-name">{{ item.text }}</span>
          {% endif %}
        </span>
        {{ govukTag({
          classes: "app-task-list__tag" + itemTagClasses,
          text: item.tag.text,
          attributes: {
            id: itemId if item.href
          }
        }) if item.tag }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

<{{ containerElement }} class="app-task-list {%- if params.classes %} {{ params.classes }}{% endif -%}"
{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  {% for section in params.sections %}
    {% set headingLevel = params.headingLevel or 2 %}
    <li class="govuk-accordion__section{% if params.disableSectionNumbering != true %} govuk-accordion__section--numbered{% endif %}">
      {% if section.titleHtml %}
        {{ section.titleHtml | safe }}
      {% elif section.titleText %}
        <h{{ headingLevel }} class="govuk-accordion__section-heading">
          {% if params.disableSectionNumbering != true %}
            <span class="app-task-list__section-number">{{ loop.index }}.</span>
          {% endif %}
          {{ section.titleText }}
        </h{{ headingLevel }}>
      {% endif %}
      {{ _taskList(section.items) }}
    </li>
  {% else %}
    {{ _taskList(params.items) }}
  {% endfor %}
</{{ containerElement }}>
