.x-govuk-code {
  background-color: govuk-colour("light-grey");
  font-family: ui-monospace, monospace;
  font-size: 16px;
}

.x-govuk-code--inline {
  padding: 2px govuk-spacing(1);

  a:focus & {
    background: $govuk-focus-colour;
  }
}

.x-govuk-code--block {
  @include govuk-responsive-margin(4, "bottom");
  line-height: 1.4;
  max-width: 38em;
  overflow: auto;
  padding: govuk-spacing(4);
  -webkit-font-smoothing: antialiased;

  + .govuk-heading-l {
    padding-top: govuk-spacing(4);
  }

  + .govuk-heading-m,
  + .govuk-heading-s {
    padding-top: govuk-spacing(2);
  }
}

.x-govuk-code__comment,
.x-govuk-code__quote {
  color: govuk-tint(govuk-colour("dark-grey"), 30);
  font-style: italic;
}

.x-govuk-code__keyword,
.x-govuk-code__selector-tag,
.x-govuk-code__subst {
  color: govuk-colour("black");
  font-weight: bold;
}

.x-govuk-code__number,
.x-govuk-code__literal,
.x-govuk-code__variable,
.x-govuk-code__template-variable,
.x-govuk-code__tag .x-govuk-code__attr {
  color: govuk-colour("green");
}

.x-govuk-code__string,
.x-govuk-code__doctag {
  color: govuk-colour("red");
}

.x-govuk-code__title,
.x-govuk-code__section,
.x-govuk-code__selector-id {
  color: govuk-colour("bright-purple");
  font-weight: bold;
}

.x-govuk-code__subst {
  font-weight: normal;
}

.x-govuk-code__type,
.x-govuk-code__class .x-govuk-code__title {
  color: govuk-colour("light-purple");
  font-weight: bold;
}

.x-govuk-code__tag,
.x-govuk-code__name,
.x-govuk-code__attribute {
  color: govuk-colour("dark-blue");
  font-weight: normal;
}

.x-govuk-code__regexp,
.x-govuk-code__link {
  color: govuk-colour("green");
}

.x-govuk-code__symbol,
.x-govuk-code__bullet {
  color: govuk-colour("purple");
}

.x-govuk-code__builtin,
.x-govuk-code__builtin-name {
  color: govuk-colour("blue");
}

.x-govuk-code__meta {
  color: govuk-colour("dark-grey");
  font-weight: bold;
}

.x-govuk-code__deletion {
  background: govuk-tint(govuk-colour("red"), 80);
}

.x-govuk-code__addition {
  background: govuk-tint(govuk-colour("green"), 80);
}

.x-govuk-code__emphasis {
  font-style: italic;
}

.x-govuk-code__strong {
  font-weight: bold;
}
