$x-govuk-button-shadow-size: $govuk-border-width-form-element;
$x-govuk-button-inverse-background-colour: govuk-colour("white");
$x-govuk-button-inverse-foreground-colour: $govuk-brand-colour;
$x-govuk-button-inverse-shadow-colour: govuk-shade($x-govuk-button-inverse-foreground-colour, 30%);
$x-govuk-button-inverse-hover-background-colour: govuk-tint($x-govuk-button-inverse-foreground-colour, 90%);

.x-govuk-button--inverse,
.x-govuk-button--inverse:link,
.x-govuk-button--inverse:visited {
  color: $x-govuk-button-inverse-foreground-colour;
  background-color: $x-govuk-button-inverse-background-colour;
  box-shadow: 0 $x-govuk-button-shadow-size 0 $x-govuk-button-inverse-shadow-colour;
}

.x-govuk-button--inverse:hover {
  color: $x-govuk-button-inverse-foreground-colour;
  background-color: $x-govuk-button-inverse-hover-background-colour;
}

.x-govuk-button--inverse:focus:not(:hover) {
  color: $govuk-focus-text-colour;
  background-color: $govuk-focus-colour;
}

.x-govuk-button--inverse:active,
.x-govuk-button--inverse:focus {
  border-color: $govuk-focus-colour;
  color: $x-govuk-button-inverse-foreground-colour;
  background-color: $x-govuk-button-inverse-hover-background-colour;
  box-shadow: inset 0 0 0 2px $govuk-focus-colour;
}
