$proto-button-shadow-size: $govuk-border-width-form-element;
$proto-button-inverse-background-colour: govuk-colour("white");
$proto-button-inverse-foreground-colour: $govuk-brand-colour;
$proto-button-inverse-shadow-colour: govuk-shade($proto-button-inverse-foreground-colour, 30%);
$proto-button-inverse-hover-background-colour: govuk-tint($proto-button-inverse-foreground-colour, 90%);

.proto-button--inverse,
.proto-button--inverse:link,
.proto-button--inverse:visited {
  color: $proto-button-inverse-foreground-colour;
  background-color: $proto-button-inverse-background-colour;
  box-shadow: 0 $proto-button-shadow-size 0 $proto-button-inverse-shadow-colour;
}

.proto-button--inverse:hover {
  color: $proto-button-inverse-foreground-colour;
  background-color: $proto-button-inverse-hover-background-colour;
}

.proto-button--inverse:focus:not(:hover) {
  color: $govuk-focus-text-colour;
  background-color: $govuk-focus-colour;
}

.proto-button--inverse:active,
.proto-button--inverse:focus {
  border-color: $govuk-focus-colour;
  color: $proto-button-inverse-foreground-colour;
  background-color: $proto-button-inverse-hover-background-colour;
  box-shadow: inset 0 0 0 2px $govuk-focus-colour;
}
