{% extends "layouts/email.html" %}

{% set subject = "Example email" %}
{% set from = "GOV.UK <example@gov.uk>" %}
{% set to = "Jane Doe <jane.doe@example.com>" %}

{% block content %}
  <p>Hello Jane Doe,</p>
  <p>This is an example email you’ve received.</p>

  <h1 class="govuk-heading-m">Sign in</h1>
  <p>Use this link to sign in to the service:</p>
  <p><a href="#">Sign in link</a></p>

  <h1 class="govuk-heading-m">Help with emails</h1>
  <p>Email templates in Notify can only include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>bulleted lists</li>
    <li>links</li>
    <li>inset text</li>
    <li>horizontal rules</li>
  </ul>

  <p>They cannot have subheadings or bold text.</p>

  <p class="govuk-inset-text">
    <a href="https://www.notifications.service.gov.uk/using-notify/guidance/edit-and-format-messages">Read the Notify documentation</a>
  </p>
{% endblock %}
