{% extends "layouts/default.html" %}

{% set title = "Asking users for a date" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukDateInput({
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true,
              text: "When was your passport issued?"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          },
          decorate: "passport-issued"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
