{% extends "layouts/default.njk" %}

{% set title = "Asking users for a date" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukDateInput(decorate({
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true,
              text: "When was your passport issued?"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          },
          items: [{
            decorate: "day"
          }, {
            decorate: "month"
          }, {
            decorate: "year"
          }]
        }, "passport-issued")) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
