{% extends "layouts/default.html" %}

{% set title = "Help users to review a collection" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Contacts</h1>

      {{ xGovukSummaryCard({
        classes: "govuk-!-margin-bottom-9",
        titleText: "Sarah Philips",
        actions: {
          items: [{
            text: "Delete",
            visuallyHiddenText: "Sarah Philips",
            href: "#"
          }]
        },
        rows: [{
          key: {
            text: "Address"
          },
          value: {
            html: "72 Guild Street\nLondon\nSE23 6FH" | nl2br
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "address for Sarah Philips",
              href: "#"
            }]
          }
        }, {
          key: {
            text: "Telephone"
          },
          value: {
            text: "07700 900457"
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "telephone for Sarah Philips",
              href: "#"
            }]
          }
        }, {
          key: {
            text: "Email"
          },
          value: {
            text: "sarah.phillips@example.com"
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "email for Sarah Philips",
              href: "#"
            }]
          }
        }]
      }) }}

      {{ xGovukSummaryCard({
        classes: "govuk-!-margin-bottom-9",
        titleText: "David Smith",
        actions: {
          items: [{
            text: "Delete",
            visuallyHiddenText: "David Smith",
            href: "#"
          }]
        },
        rows: [{
          key: {
            text: "Address"
          },
          value: {
            html: "114 Hill Road<br>Cardiff\nCF14 1XY" | nl2br
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "address for David Smith",
              href: "#"
            }]
          }
        }, {
          key: {
            text: "Telephone"
          },
          value: {
            text: "07700 900582"
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "telephone for David Smith",
              href: "#"
            }]
          }
        }, {
          key: {
            text: "Email"
          },
          value: {
            text: "david.smith@example.com"
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "email for David Smith",
              href: "#"
            }]
          }
        }]
      }) }}
    </div>
  </div>
{% endblock %}
