{% extends "layouts/default.html" %}

{% set title = "Help users to recover from validation errors" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate data-validate>
        <h1 class="govuk-heading-l">Personal details</h1>

        {{ govukInput(decorate({
          label: {
            text: "Full name"
          },
          autocomplete: "name",
          spellcheck: false,
          validate: {
            presence: {
              message: "Enter your full name"
            }
          }
        }, ["account", "full-name"])) }}

        {{ govukInput(decorate({
          label: {
            text: "Email address"
          },
          autocomplete: "email",
          spellcheck: false,
          type: "email",
          validate: {
            presence: {
              message: "Enter your email address"
            },
            email: {
              message: "Enter an email address in the correct format, like name@example.com"
            }
          }
        }, ["account", "email"])) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
