{% extends "layouts/default.njk" %}

{% set title = "Help users to recover from validation errors" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList(errors)
        }) if errors }}

        <h1 class="govuk-heading-l">Personal details</h1>

        {{ govukInput(decorate({
          label: {
            text: "Full name"
          },
          autocomplete: "name",
          spellcheck: false
        }, "full-name")) }}

        {{ govukInput(decorate({
          label: {
            text: "Email address"
          },
          autocomplete: "email",
          spellcheck: false,
          type: "email"
        }, "email")) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
