{%- set assetPath = "/govuk/assets" -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% from "rig/components/autocomplete/macro.njk"          import rigAutocomplete %}
{% from "rig/components/masthead/macro.njk"              import rigMasthead %}
{% from "rig/components/related-navigation/macro.njk"    import rigRelatedNavigation %}
{% from "rig/components/side-navigation/macro.njk"       import rigSideNavigation %}
{% from "rig/components/summary-card/macro.njk"          import rigSummaryCard %}
{% from "rig/components/task-list/macro.njk"             import rigTaskList %}

{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/application.css" media="all">
  <script src="/public/javascripts/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " - " if title -}}
  {{- serviceName + " - GOV.UK" -}}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    productName: productName,
    serviceName: serviceName if not productName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    text: "This is a prototype of a new service. Some parts may not work yet."
  }) }}

  {% block pageNavigation %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [{
        text: "Clear session data",
        href: "/clear-session-data"
      } if useAutoStoreData, {
        text: "Feature flags",
        href: "/feature-flags"
      }],
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% if useAutoStoreData %}
    <script src="/auto-store-data.js"></script>
  {% endif %}
  <script>console.log({{ data | dump | safe }});</script>
{% endblock %}
