{% extends "layouts/default.njk" %}

{% set title = "Check answers page" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">We didn’t find a match for the details you provided</h1>

      <h2 class="govuk-heading-m">Check your answers</h2>
      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [{
          key: {
            text: "Name"
          },
          value: {
            text: (data['first-name'] + ' ' + data['last-name']) if data['first-name']
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "name",
              href: "/name"
            }]
          }
        }, {
          key: {
            text: "Date of birth"
          },
          value: {
            text: data['date-of-birth'] | dateWithYear if data['date-of-birth']
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "date of birth",
              href: "/dob"
            }]
          }
        }, {
          key: {
            text: "National Insurance number"
          },
          value: {
            text: data['national-insurance-number']
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "National Insurance number",
              href: "/ni-number"
            }]
          }
        }, {
          key: {
            text: "Teacher training provider"
          },
          value: {
            text: data['former-itt-provider'] or data['current-itt-provider']
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "teacher training provider",
              href: "/itt-provider"
            }]
          }
        } if data['former-itt-provider'] or data['current-itt-provider']
      ]}) }}

      <h2 class="govuk-heading-m">If your answers are correct, you can submit a helpdesk request</h2>
      <p>By submitting this request you are confirming that, to the best of your knowledge, the details you are providing are correct. You will receive a response via email within 5 working days.</p>

      <form method="post" novalidate>
        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Accept and send"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
