{% extends "layouts/default.njk" %}

{% set title = "Check your email to continue" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-xl'>Check your email to continue</h1>

      <p class='govuk-body'><a class="app-hidden-link" href="{{ paths.next }}">We have sent a link to {{ data['email-address'] or 'your-email@domain.com' }}</a>. You will need to click it to continue.</p>

      <p>If our email doesn’t arrive within 5 minutes, check your spam and trash folder, or <a href="{{ paths.back }}">try again</a>.</p>
    </div>
  </div>
{% endblock %}
