{% extends "layouts/default.njk" %}

{% set title = "Find out your TRN" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukDateInput(decorate({
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--xl",
              isPageHeading: true,
              text: "Your date of birth"
            }
          },
          hint: {
            text: "For example, 27 3 1987"
          },
          items: [{
            decorate: "day"
          }, {
            decorate: "month"
          }, {
            decorate: "year"
          }]
        }, "date-of-birth")) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
