{% extends "layouts/default.njk" %}

{% set title = "Find out your TRN" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukInput({
          label: {
            text: "Your email address",
            classes: "govuk-label--xl",
            isPageHeading: true
            },
            hint: {
              text: "We will use your email address to help find your TRN and to send it to you."
            },
            id: "email-address",
            name: "email-address"
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
