{% extends "layouts/default.njk" %}

{% set title = "Asking users for a date" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--l",
            isPageHeading: true
            },
            hint: {
              text: "We’ll email you a code to confirm your email address."
            },
            id: "email-address",
            name: "email-address"
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
