{% extends "layouts/default.njk" %}

{% set title = "Confirmation page" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          TRN request submitted
        </h1>
        <div class="govuk-panel__body">
          We have sent an email confirming your request
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next?</h2>
      <p>We aim to respond via email within 5 working days. If we cannot find your record, we may request further information from you to help locate it.</p>
    </div>
  </div>
{% endblock %}
