{% extends "layouts/default.njk" %}

{% set title = "Find out your Teacher Reference Number (TRN)" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  <div class="app-masthead">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
            {{ title }}
          </h1>
          <h3 class="app-masthead__subtitle govuk-heading-l">Prototype</h3>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukButton({
        text: 'View prototype',
        href: '/start',
        isStartButton: true
      }) }}
    </div>
  </div>
{% endblock %}
