{% extends "layouts/default.njk" %}

{% set title = "Find your TRN" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukInput({
          label: {
            text: "Where did you complete your initial teacher training?",
            classes: "govuk-label--l",
            isPageHeading: true
            },
            hint: {
              text: "If you have ever undertaken a course of initial teacher training, please provide the name of the education establishment"
            },
            id: "itt-provider",
            name: "itt-provider"
          }) }}

        {{ govukButton({
          text: "Continue",
          href: '/check-answers'
        }) }}
      </form>
    <a href="/check-answers" class="govuk-link">I have never undertaken initial teacher training</a>
    </div>
  </div>
{% endblock %}
