{% extends "layouts/default.njk" %}

{% set title = "Find your TRN" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
  {% set ittProviderNameHtml %}
    {{ govukInput({
      label: {
        text: "What school, university or other training provider did you complete your training with?"
      },
      id: "itt-provider",
      name: "itt-provider"
    }) }}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukRadios(decorate({
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--xl",
              isPageHeading: true,
              text: 'Do you hold qualified teacher status (QTS) in England or Wales?'
            }
          },
          items: [{
            text: "Yes",
            value: 'yes',
            conditional: { html: ittProviderNameHtml }
          }, {
            text: "No",
            value: 'no'
          }]
        }, ["wizard", "do-you-have-qts"])) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
