{% extends "layouts/default.njk" %}

{% set title = "Find out your TRN" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {% set nameChangeGuidance %}
Enter your first and last name exactly as they appear on the Teaching Regulation Agency records.

If your name has changed and you have not updated your Teaching Regulation Agency record, you can:

* use your previous name to find your TRN
* use your previous name to find your TRN, and then change it on the Teaching Regulation Agency records at a later date
    {% endset %}

    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
      <h1 class="govuk-heading-xl">Your name</h1>
        <p class="govuk-body"></p>
        {{ nameChangeGuidance | govukMarkdown | safe }}
        {{ govukInput(decorate({
          label: {
            text: "First name"
          }
        }, ['first-name'])) }}

        {{ govukInput(decorate({
          label: {
            text: "Last name"
          }
        }, ['last-name'])) }}

        {{ govukInput(decorate({
          label: {
            text: "Previous last name (optional)"
          }
        }, ['previous-last-name'])) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
