{% extends "layouts/default.njk" %}

{% set title = "Find out your TRN" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
  {% set PreviousLastNameHtml %}
    {{ govukInput({
      label: {
        text: "Previous last name"
      },
      id: "previous-last-name",
      name: "previous-last-name"
    }) }}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukRadios(decorate({
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--xl",
              isPageHeading: true,
              text: 'Have you changed your last name?'
            }
          },
          items: [
            {
              text: "Yes",
              value: 'yes',
              conditional: { html: PreviousLastNameHtml }
            },
            {
              text: "No",
              value: 'no'
            }]
        }, ["wizard", "previous-last-name"])) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
