{% extends "layouts/default.njk" %}

{% set title = "Find out your TRN" %}

{% block header %}
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "https://www.gov.uk"
    }, {
      text: "Education, training and skills",
      href: "https://www.gov.uk/education"
    }, {
      text: "Teaching and leadership",
      href: "https://www.gov.uk/education/teaching-and-leadership"
    }, {
      text: "Teacher records",
      href: "https://www.gov.uk/education/teacher-records"
    }]
  }) }}
{% endblock %}

{% set beforeYouStart %}
## Before you start

We’ll ask for your name, date of birth and National Insurance number. If we do not find your TRN based on these details, we may ask you some follow-up questions.

We will send you your TRN by email. 

{% endset %}

{% set whoCanUseThisService %}
## Who can use this service

You can use this service if you have, or think you might have, a TRN. You cannot use the service to find out someone else's TRN.

{% endset %}

{% set otherWaysToFindOutYourTrn%}
## Other ways to find out your TRN

### You may be able to find your TRN on a document

Your TRN may be shown on one of the following documents:

* payslip
* teacher pension statement
* teacher training records

The TRN has previously been known as a QTS, GTC, DfE, DfES or DCSF number.

---

### Find out your TRN by phone

> Call the Teaching Regulation Agency on 020 7593 5394.

Make sure you have your National Insurance number ready before you call.

{% endset %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p body="govuk-body">Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>find out your <a href="https://www.gov.uk/guidance/teacher-reference-number-trn" class="govuk-link">teacher reference number (TRN)</a> if you do not know it or have forgotten it</li>
        <li>check if you have a TRN</li>
      </ul>
      {{ whoCanUseThisService | govukMarkdown | safe }}
      {{ beforeYouStart | govukMarkdown | safe }}

      {{ govukButton({
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-9",
        text: "Start now",
        href: paths.next,
        isStartButton: true
      }) }}

      {{ otherWaysToFindOutYourTrn | govukMarkdown | safe }}
    </div>

    <div class="govuk-grid-column-one-third">
      {{ rigRelatedNavigation({
        sections: [{
          items: [{
            text: "Teacher reference number (TRN)",
            href: "https://www.gov.uk/guidance/teacher-reference-number-trn"
          }, {
            text: "Teacher self service portal",
            href: "https://www.gov.uk/guidance/teacher-self-service-portal"
          }]
        }]
      }) }}
    </div>
  </div>
{% endblock %}
