{% extends "layouts/default.njk" %}

{% set title = "Find your TRN" %}

{% block header %}
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "https://www.gov.uk"
    }, {
      text: "Education, training and skills",
      href: "https://www.gov.uk/education"
    }, {
      text: "Teaching and leadership",
      href: "https://www.gov.uk/education/teaching-and-leadership"
    }, {
      text: "Teacher records",
      href: "https://www.gov.uk/education/teacher-records"
    }]
  }) }}
{% endblock %}

{% set beforeYouStart %}
## Before you start

Only use this service to find your own TRN. You cannot use the service to find out someone else’s TRN.

### Find your TRN on a document

You may be able to find it on your:

* payslip
* teacher pension statement
* teacher training records

### Request a TRN reminder by email

Send an email which includes your:

* full name
* date of birth
* National Insurance number

> Email <qts.enquiries@education.gov.uk>.

We aim to respond to valid email requests within 5 working days.

---

### Request a TRN reminder by phone

> Call the Teaching Regulation Agency on 020 7593 5394.

Make sure you have your National Insurance number ready before you call.

{% endset %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p body="govuk-body">Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>find your <a href="https://www.gov.uk/guidance/teacher-reference-number-trn" class="govuk-link">teacher reference number (TRN)</a> if you don’t know it or have forgotten it</li>
        <li>check if you have a TRN or not</li>
      </ul>

      <p body="govuk-body">Make sure you have your National Insurance number ready.</p>

      {{ govukButton({
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-9",
        text: "Start now",
        href: paths.next,
        isStartButton: true
      }) }}

      {{ beforeYouStart | govukMarkdown | safe }}
    </div>

    <div class="govuk-grid-column-one-third">
      {{ rigRelatedNavigation({
        sections: [{
          items: [{
            text: "Teacher reference number (TRN)",
            href: "https://www.gov.uk/guidance/teacher-reference-number-trn"
          }, {
            text: "Teacher self service portal",
            href: "https://www.gov.uk/guidance/teacher-self-service-portal"
          }]
        }]
      }) }}
    </div>
  </div>
{% endblock %}
