{% extends "layouts/default.html" %}

{% set title = "Find out your TRN" %}

{% block header %}
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "https://www.gov.uk"
    }, {
      text: "Education, training and skills",
      href: "https://www.gov.uk/education"
    }, {
      text: "Teaching and leadership",
      href: "https://www.gov.uk/education/teaching-and-leadership"
    }, {
      text: "Teacher records",
      href: "https://www.gov.uk/education/teacher-records"
    }]
  }) }}
{% endblock %}

{% set beforeYouStart %}
## Before you start

Have your National Insurance number ready, as we’ll ask for this.
{% endset %}

{% set beforeYouStartHelpdeskOnly %}
## Before you start

We’ll ask for your name, date of birth and National Insurance number. If you do not have your National Insurance number available, we may ask you some follow-up questions.

We will send you your TRN by email.

{% endset %}

{% set whoCanUseThisService %}
You can use this service to check your own TRN. You cannot use it to find out someone else’s TRN.
{% endset %}

{% set otherWaysToFindOutYourTrn%}
## Other ways to find out your TRN

Your TRN may be shown on a:

* payslip
* teacher pension statement
* teacher training records

The TRN has previously been known as a QTS, GTC, DfE, DfES and DCSF number.

---

### Find your TRN by phone

> Call the Teaching Regulation Agency on 020 7593 5394.

Make sure you have your National Insurance number ready before you call.

{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p body="govuk-body">Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>find your <a href="https://www.gov.uk/guidance/teacher-reference-number-trn" class="govuk-link">teacher reference number (TRN)</a> if you do not know it or have forgotten it</li>
        <li>check if you have a TRN</li>
      </ul>
      {{ whoCanUseThisService | govukMarkdown | safe }}
      {{ beforeYouStart | govukMarkdown | safe }}

      {{ govukButton({
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-9",
        text: "Start now",
        href: paths.next,
        isStartButton: true
      }) }}

      {{ otherWaysToFindOutYourTrn | govukMarkdown | safe }}
    </div>

    <div class="govuk-grid-column-one-third">
      {{ xGovukRelatedNavigation({
        sections: [{
          items: [{
            text: "Teacher reference number (TRN)",
            href: "https://www.gov.uk/guidance/teacher-reference-number-trn"
          }, {
            text: "Teacher self service portal",
            href: "https://www.gov.uk/guidance/teacher-self-service-portal"
          }]
        }]
      }) }}
    </div>
  </div>
{% endblock %}
