{% extends "layouts/default.njk" %}

{% set title = "Do you know if you have a TRN?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {% set trnGuidance %}
          The TRN has previously been known as a QTS, GTC, DfE, DfES or DCSF number.
          <br>
          You may not have a TRN if you are working in further education or qualified outside England or overseas.
        {% endset %}

        {{ govukRadios(decorate({
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--xl",
              isPageHeading: true,
              text: title
            }
          },
          hint: {
            html: trnGuidance
          },
          items: [{
            text: "Yes, I have a TRN",
            value: 'yes'
          }, {
            text: "No, I’m not sure if I have a TRN",
            value: 'dont-know'
          }]
        }, ["wizard", "do-you-have-a-trn"])) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
