{% extends "layouts/default.njk" %}

{% set title = "Find your TRN" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukCheckboxes(decorate({
          fieldset: {
            legend: {
              text: "Do any of the following apply to you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "qts",
              text: "I hold qualified teacher status (QTS) in England or Wales"
            },
            {
              value: "qts-trainee",
              text: "I am working towards QTS"
            },
            {
              value: "eyts",
              text: "I hold early years teacher status (EYTS) in England"
            },
            {
              value: "eyts-trainee",
              text: "I am working towards EYTS"
            },
            {
              value: "npq",
              text: "I hold a national professional qualification (NPQ)"
            },
            {
              value: "npq-trainee",
              text: "I am working towards an NPQ"
            },
            {
              value: "pensions",
              text: "I contribute to the Teachers’ Pensions scheme"
            },
            {
              value: "misconduct",
              text: "I have been restricted or prohibited from teaching in England"
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "None of the above",
              behaviour: "exclusive"
            }
          ]
        }, ["wizard", "trn-conditions"])) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
