{% extends "layouts/default.njk" %}

{% set title = "Find your TRN" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
          {{ govukRadios({
            idPrefix: "do-you-have-a-trn",
            name: "do-you-have-a-trn",
            fieldset: {
              legend: {
                text: "Do you have a TRN?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              },
              {
                value: "I'm not sure",
                text: "I'm not sure"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue",
          href: "/trn-holder-answer"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
