{% extends "layouts/default.njk" %}

{% set title = "Confirmation page" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Success
        </h1>
        <div class="govuk-panel__body">
          <a class="app-hidden-link" href="/email-with-trn">We have sent your TRN to <br><strong>{{ data['email-address'] or 'your-email@domain.com' }}</strong></a>
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>
    </div>
  </div>
{% endblock %}
