{% extends "layouts/default.njk" %}

{% set title = "You probably have a TRN" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% set text %}
# You probably have a TRN

Think about what to say here.

{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
       {{ text | govukMarkdown | safe }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

