{% extends "layouts/default.njk" %}

{% set title = "Find your TRN" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--l",
            isPageHeading: true
            },
            hint: {
              text: "We’ll send a link to your email address"
            },
            id: "email-address",
            name: "email-address"
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
